.country-info-value {
  background-color: #37474f;
  width: fit-content;
  padding: 2px 6px;
  border-radius: 4px;
}
.country-page {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}
.country-info-text {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
}

.country-card-single {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.single-country-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.country-img {
  width: 100%;
}
.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
  align-items: center;
}
.add-button,
.view-collection-button {
  background-color: #37474f;
  border: none;
  color: white;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}

.add-button:hover,
.view-collection-button:hover {
  background-color: #263238;
}

@media (width > 911px) {
  .country-page {
    margin-top: 100px;
    gap: 80px;
    width: fit-content;
    flex-direction: row;
    align-items: center;
  }
  .country-img {
    width: 450px;
    height: auto;
  }

  .country-card-single {
    width: 400px;
  }


  .add-button,
  .view-collection-button {
    padding: 8px 10px;
    font-size: 16px;
 
  }
}
