* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.site-wrapper {
  min-height: 100vh;
  max-width: 1450px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: white;
  text-decoration: none;
}

@media (max-width: 1450px) {
  .site-wrapper {
    margin: 0 40px;
  }
}

.back-button {
  background-color: #37474f;
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
   align-self: flex-start;
  margin: 40px 0;
}

.back-button:hover {
  background-color: #263238;
}
